@charset "UTF-8";
header {
  background-color: #014FA1;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__list-link {
  color: #fff;
}

footer {
  background-color: #014FA1;
  color: #fff;
}

.info {
  display: flex;
  gap: 60px;
  padding-top: 20px;
}

.info__adres .info__adres-tytle {
  font-size: 24px;
  text-align: center;
}
.info__adres .info__adres-text {
  font-size: 16px;
  margin-top: 25px;
}
.info__adres .info__adres-paras {
  font-size: 14px;
  margin-top: 13px;
  height: 72px;
  color: #fff;
}
.info__adres .info__adres-hr {
  width: 280px;
  color: #fff;
  margin-bottom: 15px;
}

.info__adres-box {
  display: flex;
  gap: 14px;
  margin-top: 30px;
}
.info__adres-box .adres-box__icon {
  cursor: pointer;
}

.plozad .plozad__text {
  font-weight: 800;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.3;
}

.more-tytle, .postyolen__box .postyolen__box-tytle, .model__box .model__box-text, .library__pack .library__pack-text, .btn-lidht, .info__adres .info__adres-text {
  font-weight: 600;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.3;
}

.block__body .block__body-data, .sostav__item .sostav__item-tytle, .featurs-text {
  font-weight: 500;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.3;
}

.model__box .model__box-more, .menu__list-link, .info__adres .info__adres-tytle {
  font-weight: 400;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.3;
}

.block__body .block__body-text, .form .form__input, .postyolen__box-dannaz .box-dannaz__text, .info__adres .info__adres-paras {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
}

.btn-lidht {
  padding: 14px 22px 17px;
  background-color: #FDA900;
  color: #fff;
  border-radius: 29px;
  border: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
}

p {
  color: #424242;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  background-image: url(../img/школа\ вдали.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 84px;
}

.plozad {
  padding: 324px 0 304px;
}
.plozad .plozad__text {
  color: #fff;
  font-size: 48px;
}
.plozad .plozad__btn {
  margin-top: 41px;
}

.featurs {
  margin-bottom: 20px;
}

.featurs-text {
  font-size: 24px;
}

.information-text {
  margin-top: 35px;
  color: #424242;
}

.information__box {
  display: flex;
  margin-top: 20px;
  gap: 19px;
}

.information-btn {
  margin-top: 23px;
}

.library__box {
  display: flex;
  align-items: flex-start;
  gap: 11px;
}

.library__pack .library__pack-text {
  color: #014FA1;
  font-size: 20px;
}

.library__box-text {
  margin-top: 10px;
}

.library__box + .library__box {
  margin-top: 50px;
}

.pack {
  display: flex;
  gap: 62px;
  padding-bottom: 84px;
}

.article {
  padding: 27px 0;
  margin-bottom: 53px;
}

.model {
  padding-bottom: 68px;
}

.model-park {
  margin-left: 143px;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  align-items: center;
}

.model__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 320px;
  height: 320px;
  padding: 7px 5px 20px 20px;
  border: 1px solid #B8B8B8;
}
.model__box .model__box-text {
  margin-top: 11px;
  font-size: 20px;
}
.model__box .model__box-paras {
  margin-top: 20px;
}
.model__box .model__box-more {
  display: block;
  bottom: 0;
}

.model__box:hover {
  background-color: aqua;
}

.sostav__item {
  padding-bottom: 46px;
}
.sostav__item .sostav__item-tytle {
  font-size: 24px;
}
.sostav__item .sostav__item-text {
  margin-top: 38px;
}

.biograf-park {
  padding-bottom: 41px;
}
.biograf-park .biograf-park__item {
  display: flex;
  margin-left: 118px;
  gap: 14px;
}
.biograf-park .biograf-park__item + .biograf-park__item {
  padding-top: 31px;
}

.biograf__item {
  width: 312px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linepeople {
  position: absolute;
  z-index: 1;
  margin-top: -12rem;
  margin-left: -5rem;
}

.strelapeople {
  margin-top: -14rem;
  margin-left: 6rem;
}

.postyolen {
  max-width: 1930px;
  width: 100%;
  height: 489px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 56px;
}

.postyolen-park {
  display: flex;
  justify-content: space-evenly;
}

.postyolen__box {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.postyolen__box .postyolen__box-tytle {
  color: #fff;
  font-size: 24px;
  padding-top: 29px;
}

.postyolen__box-dannaz {
  display: flex;
  align-items: center;
  gap: 22px;
}
.postyolen__box-dannaz .box-dannaz__btn {
  font-size: 24px;
  color: #fff;
}
.postyolen__box-dannaz .box-dannaz__text {
  font-size: 16px;
  color: #fff;
}

.postyolen__cont-img {
  position: absolute;
  margin-top: -29rem;
  background-color: #fff;
  border-radius: 20%;
}

.form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 281px;
  height: 440px;
  position: relative;
  margin-top: 21px;
  margin-left: 18px;
  justify-content: space-evenly;
  align-items: center;
}
.form .form__input {
  padding: 10px;
  border: 2px solid #424242;
  border-radius: 9px;
}

.block__container {
  display: flex;
  gap: 90px;
  padding-bottom: 117px;
  align-items: flex-start;
}

.block__body {
  padding: 10px 14px 19px 11px;
  background-color: #fff;
  box-shadow: inset -1px -1px 4px 3px rgba(0, 0, 0, 0.05);
}
.block__body .block__body-data {
  margin-top: 18px;
  color: #014FA1;
  font-size: 20px;
}
.block__body .block__body-hr {
  max-width: 479px;
  margin-top: 8px;
}
.block__body .block__body-text {
  margin-top: 10px;
}

.more-tytle {
  margin-top: 15px;
  cursor: pointer;
}

.block__bodyy {
  display: flex;
  gap: 18px;
  padding: 10px 14px 19px 11px;
  background-color: #fff;
  box-shadow: inset -1px -1px 4px 3px rgba(0, 0, 0, 0.05);
}

.menu__btn {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.menu__btn span {
  height: 2px;
  background-color: #fff;
  width: 100%;
}

@media (max-width: 1175px) {
  .model-park {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
  }
  .linepeople {
    display: none;
  }
  .strelapeople {
    display: none;
  }
  .block__container {
    display: flex;
    gap: 90px;
    padding-bottom: 117px;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 1075px) {
  .pack {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .library {
    display: flex;
    align-items: flex-end;
  }
  .biograf-park .biograf-park__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .model-park {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
    justify-items: center;
    margin: 0;
  }
  .biograf-park .biograf-park__item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-left: 0;
  }
  .menu__btn {
    display: flex;
  }
  .menu__btn,
  .logo {
    position: relative;
    z-index: 10;
  }
  .menu__list {
    position: absolute;
    z-index: 5;
    background-color: #014FA1;
    flex-direction: column;
    top: 0;
    left: 0;
    padding-top: 200px;
    height: 100vh;
    right: 0;
    bottom: 0;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  .menu__list.menu__list--active {
    transform: translateY(0);
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .pack {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .library {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .postyolen {
    display: none;
  }
  .block__body {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */